In [1]:
import pandas as pd
import pravda_scraping as ps

Since `end_url` arg. haven't been provided, loop breaks at the last page available:

In [2]:
data = ps.news_to_df(
    start_url="https://www.pravda.com.ua/archives/date_29122019/"
)
len(data)

https://www.pravda.com.ua/archives/date_29122019/
https://www.pravda.com.ua/archives/date_30122019/
https://www.pravda.com.ua/archives/date_31122019/
https://www.pravda.com.ua/archives/date_01012020/
breaking...

4

However, should you provide `end_url` arg., the script stops at the given page. 
Also, specifying `data` argument leads to object being modified inplace.

In [4]:
data2 = ps.news_to_df(
    start_url="https://www.pravda.com.ua/archives/date_25122019/",
    end_url="https://www.pravda.com.ua/archives/date_27122019/",
    data=data # modifies original list - `data` - inplace
)
len(data2)

https://www.pravda.com.ua/archives/date_25122019/
https://www.pravda.com.ua/archives/date_26122019/
breaking...

6

Hence, now `data is data2`:

In [11]:
assert data == data2, "content is different"
assert len(data) == len(data2), "lenth is different"

---

In [6]:
df = pd.concat(data2)

In [7]:
df.head(2)

,title,subtitle,date,link
0,"У Польщі заявили, что ""атаки Путіна"" є спробою...",Атаки президента Росії Володимира Путіна на По...,2019/12/29 23:30,https://www.pravda.com.ua/news/2019/12/29/7236...
1,Президент: Без ексберкутівців ми б не отримали...,"Передача представникам ОРДЛО 5 ексберкутівців,...",2019/12/29 22:19,https://www.pravda.com.ua/news/2019/12/29/7236...

In [8]:
df.tail(2)

,title,subtitle,date,link
79,Затримали поліцейського Харківщини: зливав РФ ...,Слідчі Державного бюро розслідувань затримали ...,2019/12/26 00:43,https://www.pravda.com.ua/news/2019/12/26/7235...
80,Конфлікт у в/ч на Одещині: Побита жінка-військ...,"Жінка-військовослужбовець Наталія Куліш, про п...",2019/12/26 00:09,https://www.pravda.com.ua/news/2019/12/26/7235...